

.dropper li:hover{
  background-color:#e6e6e6;"
}
.dropper li {
  cursor:pointer!important;
}

header li{
  margin-bottom:10px;
}

/*
.preview h2{
  color:black!important;
}
*/

/*
.preview byline{

}
*/

label{
  color:white!important;
}
/*
.form-control {
  display:inline-block;
}
*/
